<div class="users-container">
  <div class="table-nav">
    <h2 class="title">👥 Users</h2>
    <div class="filters-div">
      <div class="filter-by-department" *ngIf="userRole=='ADMIN'">
        <mat-form-field appearance="outline" class="department-select">
          <mat-label>Filter by Department</mat-label>
          <mat-select [(value)]="filteredDepartment" (selectionChange)="filterByDepartment()">
            <mat-option [value]="''">All Departments</mat-option>
            <mat-option *ngFor="let dept of departments" [value]="dept.id">
              {{ dept.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="filter-by-role">
        <mat-form-field appearance="outline" class="role-select">
          <mat-label>Filter by Role</mat-label>
          <mat-select [(value)]="filteredRole" (selectionChange)="filterByRole()">
            <mat-option [value]="''">All Roles</mat-option>
            <mat-option *ngFor="let role of roles" [value]="role">
              {{ role }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="">

        <mat-form-field appearance="outline" class="search-field">
          <mat-label>Search by name/email</mat-label>
          <input matInput type="text" class="search-bar" placeholder="Search by name/email"
            (input)="searchByNameOrEmail(searchInput.value)" #searchInput>
        </mat-form-field>

       
      </div>

    </div>
  </div>
  <div *ngIf="isLoading" class="loading-div">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  <div *ngIf="users.length > 0">
    <table mat-table [dataSource]="users" class="mat-elevation-z4 users-table">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let user">{{ user.id }}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let user">{{ user.username }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let user">
          <span class="badge role" [ngClass]="user.role.toLowerCase()">
            {{ user.role}}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef>Department</th>
        <td mat-cell *matCellDef="let user">
          <span class="badge department">
            {{ user.departmentName }}
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="assign_asset">
        <th mat-header-cell *matHeaderCellDef>Assign</th>
        <td mat-cell *matCellDef="let user" class="assignee-button" (click)="navigateToAssignAsset(user)"><i
            class="fa-solid fa-user-plus"></i>
        </td>
      </ng-container>
      <ng-container matColumnDef="request">
        <th mat-header-cell *matHeaderCellDef>request</th>
        <td mat-cell *matCellDef="let user" class="assignee-button" (click)="toggleRequestModal($event,user)"><i
            class="fa-solid fa-user-plus"></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="totalElements" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)" aria-label="Select page"
      class="pagniation-bannel">
    </mat-paginator>
  </div>

  <div *ngIf="!isLoading && users.length == 0">
    <h2>No users available.</h2>
  </div>
  <div *ngIf="requestModal" class="modal-backdrop">
    <div class="modal-box">
      <app-add-request [userId]="userId" [userName]="userName" (closeModal)="closeModal()"></app-add-request>
    </div>
  </div>
</div>
